@charset "utf-8";

@import "./node_modules/bulma/bulma.sass";

$fa-font-path: "./node_modules/@fortawesome/fontawesome-free/webfonts" !default;
@import "./node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "./node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "./node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

.item-history-table {
    max-height: 200px;
    overflow-y: scroll;
}

.table.is-sticky {
    border-collapse: separate;
}

.table.is-sticky thead tr:first-child th{
    position:sticky;
    top: 0;
    background-color: #ffffff;
}

.navbar .home-icon {
    padding:8px;
    margin:24px;
}

.item-information-row {
    justify-content: space-between;
    padding: 0.5em 0;
    &:not(:last-child) {
        border-bottom: 1px solid $border;
    }
}

// Make sure is-marginless is respected on vertical tile children
.tile.is-vertical > .tile.is-child.is-marginless {
    margin: 0 !important;
}

.item-icon-big {
    flex: none;
    display: flex;
    align-items:center;
    justify-content: center;
    
    @media screen and (min-width:$tablet) {
        width: 96px;
    }
}

.is-space-between {
    justify-content: space-between;
}

.is-flex-end {
    justify-content: flex-end;
}

.is-align-center {
    align-items: center;
}

.modal .panel {
    background-color: $white-bis;
}

.is-overflow-visible {
    overflow: visible;
}