@charset "utf-8";

@import "./node_modules/bulma/bulma.sass";

$fa-font-path: "./node_modules/@fortawesome/fontawesome-free/webfonts" !default;
@import "./node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "./node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "./node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

.item-history-table {
    max-height: 200px;
    overflow-y: scroll;
}

.table.is-sticky {
    border-collapse: separate;
}

.table.is-sticky thead tr:first-child th{
    position:sticky;
    top: 0;
    background-color: #ffffff;
}

.table tr.is-detail {
    background-color: $background;
}

.table {
    th.is-hoverable, tr.is-hoverable, td.is-hoverable{
        &:hover {
            background-color: $background;
        }
    }
}

.navbar .home-icon {
    padding:8px;
    margin:24px;
}

.item-information-row {
    justify-content: space-between;
    padding: 0.5em 0;
    &:not(:last-child) {
        border-bottom: 1px solid $border;
    }
}

// Make sure is-marginless is respected on vertical tile children
.tile.is-vertical > .tile.is-child.is-marginless {
    margin: 0 !important;
}

.item-icon-big {
    flex: none;
    display: flex;
    align-items:center;
    justify-content: center;
    
    @media screen and (min-width:$tablet) {
        width: 96px;
    }
}

.is-space-between {
    justify-content: space-between;
}

.is-align-flex-start {
    align-items: flex-start;
}

.is-flex-end {
    justify-content: flex-end;
}

.is-align-center {
    align-items: center;
}

.is-flex-direction-column {
    flex-direction: column;
}

.is-flex-none {
    flex: none;
}

.is-max-height-100 {
    max-height:100%;
}

.modal .panel {
    background-color: $white-bis;
}

.is-overflow-hidden {
    overflow: hidden;
}

.is-overflow-auto {
    overflow: auto;
}

.is-overflow-visible {
    overflow: visible;
}

.has-pointer {
    cursor: pointer;
}

@media screen and (min-width: $desktop)
{
    .navbar-item.is-hoverable:hover .navbar-dropdown, .navbar-item.is-active .navbar-dropdown {
        .navbar-item:not(.is-active, .is-hoverable)>.navbar-dropdown, .navbar-item.is-hoverable:not(:hover)>.navbar-dropdown {
            display: none;
        }
    
        .navbar-item.is-active>.navbar-dropdown, .navbar-item.is-hoverable:hover>.navbar-dropdown {
            display: block;
        }

        div.navbar-item.has-dropdown {
            padding: 0;
        }

        a.navbar-link {
            padding: 0.375rem 2.5rem 0.375rem 1rem;
            width: 100%;

            &:not(.is-arrowless)::after {
                transform: rotate(-135deg);
            }

            &:not(.is-active, .is-hoverable), &.is-hoverable:not(:hover) {
                background-color: transparent;
            }
        }

        div.navbar-item:focus, div.navbar-item:hover {
            background-color: $navbar-item-hover-background-color;
            color: $navbar-item-hover-color;
        }
        
    
        .navbar-dropdown {
            border-top-width: 1px;
            margin-left: 100%;
            top: -0.5rem;
        }
    }
}