.is-space-between {
    justify-content: space-between;
}

.is-align-flex-start {
    align-items: flex-start;
}

.is-flex-end {
    justify-content: flex-end;
}

.is-align-center {
    align-items: center;
}

.is-flex-direction-column {
    flex-direction: column;
}

.is-flex-none {
    flex: none;
}

.is-max-height-100 {
    max-height:100%;
}

.is-overflow-hidden {
    overflow: hidden;
}

.is-overflow-auto {
    overflow: auto;
}

.is-overflow-visible {
    overflow: visible;
}

.has-pointer {
    cursor: pointer;
}

.is-background {
    background-color: $background;
}