.is-space-between {
    justify-content: space-between !important;
}

.is-align-flex-start {
    align-items: flex-start !important;
}

.is-align-flex-end {
    align-items: flex-end;
}

.is-flex-end {
    justify-content: flex-end !important;
}

.is-flex-center {
    justify-content: center !important;
}

.is-flex-wrap {
    flex-wrap: wrap;
}

.is-align-center {
    align-items: center !important;
}

.is-flex-direction-column {
    flex-direction: column !important;
}

.is-flex-none {
    flex: none !important;
}

.is-max-height-100 {
    max-height:100% !important;
}

.is-overflow-hidden {
    overflow: hidden !important;
}

.is-overflow-auto {
    overflow: auto !important;
}

.is-overflow-visible {
    overflow: visible !important;
}

.has-pointer {
    cursor: pointer !important;
}

.is-background {
    background-color: $background !important;
}

.text.has-margin {
    margin: 1rem;
}