@media screen and (min-width: $desktop)
{
    .navbar-item.is-hoverable:hover .navbar-dropdown, .navbar-item.is-active .navbar-dropdown {
        .navbar-item:not(.is-active, .is-hoverable)>.navbar-dropdown, .navbar-item.is-hoverable:not(:hover)>.navbar-dropdown {
            display: none;
        }
    
        .navbar-item.is-active>.navbar-dropdown, .navbar-item.is-hoverable:hover>.navbar-dropdown {
            display: block;
        }

        div.navbar-item.has-dropdown {
            padding: 0;
        }

        a.navbar-link {
            padding: 0.375rem 2.5rem 0.375rem 1rem;
            width: 100%;

            &:not(.is-arrowless)::after {
                transform: rotate(-135deg);
            }

            &:not(.is-active, .is-hoverable), &.is-hoverable:not(:hover) {
                background-color: transparent;
            }
        }

        div.navbar-item:focus, div.navbar-item:hover {
            background-color: $navbar-item-hover-background-color;
            color: $navbar-item-hover-color;
        }
        
    
        .navbar-dropdown {
            border-top-width: 1px;
            margin-left: 100%;
            top: -0.5rem;
        }
    }
}