@charset "utf-8";

@import "../node_modules/bulma/bulma.sass";

$fa-font-path: "../node_modules/@fortawesome/fontawesome-free/webfonts" !default;
@import "../node_modules/@fortawesome/fontawesome-free/scss/regular.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/solid.scss";
@import "../node_modules/@fortawesome/fontawesome-free/scss/fontawesome.scss";

// Bulma Expansions
@import "./styles/bulma/helpers.scss";
@import "./styles/bulma/modal.scss";
@import "./styles/bulma/navbar.scss";
@import "./styles/bulma/table.scss";
@import "./styles/bulma/tile.scss";

// Application Specific Styles
.item-history-table {
    max-height: 200px;
    overflow-y: scroll;
}

.home-icon {
    padding:8px;
    margin:24px;
}

.item-information-row {
    justify-content: space-between;
    padding: 0.5em 0;
    &:not(:last-child) {
        border-bottom: 1px solid $border;
    }
}

.item-icon-big {
    flex: none;
    display: flex;
    align-items:center;
    justify-content: center;
    
    @media screen and (min-width:$tablet) {
        width: 96px;
    }
}

.profit-summary {
    padding: 1rem;
    font-size: 2.0rem;
}